doctype html
html
  include partials/header.pug
  body.home
    include partials/navigation.pug
    div.container
      h1 Tiny Blog Admin
      p Here you can manage your blog
  include partials/footer.pug
