doctype html
html
  include partials/header.pug
  body.admin-home
    include partials/navigation.pug
    div.container.admin-home-body
      h1 Tiny Blog Admin
      p Here you can manage your blog
  include partials/footer.pug
