include ../mixins/forms.pug

html
  include partials/header.pug
  body.posts
    include partials/navigation.pug
    div.container.posts-body
      h1 Posts
      div.toolbar
        ul
          li#newPostButton.action Create Post
      div.new-post
        form#newPostForm.hidden.tb-form
          +formRow('text', 'title', 'title', 'Post Title', required)
          +formTextArea('content', 'content', 'Post Content')
          +dateRow('date', 'Post Date', true)
        +buttonRow('button', 'submit', 'savePostButton', 'Save')
      div#newPostSuccess.success.hidden
      p Here are all your posts
  include partials/footer.pug
