block header
  .header.site
    .brand
      p 
        a(href="/") #{title}
    .navigation
      ul
        li
          a(href="/posts") Posts
        li
          a(href="/categories") Categories
        li
          a(href="/login") Login
    
