div#navigation
  div.container
    div.title
      a(href="/") Tiny Blog
    div.links
      ul
        li.link
          a(href="/admin/posts") Posts
        li.link
          a(href="/admin/login") Log In
