div#navigation
  div.container
    div.title
      a(href="/") Tiny Blog
    div.links
      ul
        li.link
          a(href="/posts") Posts
        li.link
          a(href="/categories") Categories
        li.link
          a(href="/login") Login
        li.link
          a(href="/users") Users
