//- admin-default.pug
html
  head
    title #{title}
    style
      include ../../public/css/main.css
      
  body.admin-home
    block header
    block content
    block footer
      
block scripts
  script(src='../../../public/js/app.js')
  script(src='../../../public/js/util.min.js')
