extends layouts/default

include partials/header
include partials/splash

block content
  .container
    .row
      .col.eight
        h2 #{recentPostsTitle}
        
      .col.four
        h2 #{sidebarTitle}
  

include partials/footer
