doctype html
html
  include partials/header.pug
  body.home
    include partials/navigation.pug
    div.container
      h1 My Site
      p Welcome to my super lame site.
  include partials/footer.pug
