extends layouts/default

include mixins/forms

include partials/header
include partials/splash

block content
  .container.login-home
    .row
      .col.three
      .col.six
        form#loginForm.tb-form
          +formRow('text', 'username', 'username', 'Username', true)
          +formRow('password', 'password', 'password', 'Password', true)
        .row.centered
          +button('button', 'login', 'loginButton', 'Log In')        
    .row
      .col.three
      .col.six
        p.centered Not a user yet? 
          a(href="/signup") Sign up here
