.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  &.admin {
    background: @purple;
  }
  .brand {
    float: left;
    padding: 10px;
    p {
      a {
        color: #fff;  
      }
    }
  }
  .navigation {
    float: right;
    padding: 5px 10px;
    ul {
      li {
        display: inline-block;
        a {
          color: rgba(255,255,255,1);
          &:hover {
            color: rgba(255,255,255,.75);
          }
        }
      }
    }
  }
}
