// global resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

@import '_framework';
@import '_variables';
@import '_fonts';
@import '_forms';

@import '_footer';
@import '_navigation';
@import '_home';
@import '_users';
