// global resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

// global styles
@import '_framework';
@import '_variables';
@import '_fonts';
@import '_forms';

// admin styles
@import '_footer';
@import '_navigation';
@import '_home';
@import '_users';
@import '_posts';
