.container {
  width: 100%;
  padding: 15px;
  display: block;
}

.row {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.col {
  display: inline-block;
  padding: 15px;
  vertical-align: top;

  &.one {
    width: 8.33%;
  }

  &.two {
    width: 16.66%;
  }

  &.three {
    width: 24.99%;
  }

  &.four {
    width: 33.33%;
  }

  &.five {
    width: 41.66%;
  }

  &.six {
    width: 49.99%
  }

  &.seven {
    width: 58.33%;
  }

  &.eight {
    width: 66.66%;
  }

  &.nine {
    width: 74.99%;
  }

  &.ten {
    width: 83.33%;
  }

  &.eleven {
    width: 91.66%
  }

  &.twelve {
    width: 100%;
  }
}

ul {
  margin-top: 5px;
  li {
    font-size: 80%;
    padding: 5px 0px;
    margin-left: 15px;
  }
}
