block header
  .header.admin
    .brand
      p
        a(href="../") tinyBlog Admin
    .navigation
      ul
        li
          a(href="/admin/posts") Posts
        li
          a(href="/admin/users") Users
        li
          a(href="/admin/categories") Categories
        li
          a(href="/logout") Log Out
        li.user
          p #{user.name}
