div#navigation
  div.container
    div.title
      a(href="/") Tiny Blog
    div.links
      ul
        li.link
          a(href="/admin/posts") Posts
        li.link
          a(href="/admin/users") Users
        li.link
          a(href="/admin/categories") Categories
        li.link
          a(href="/logout") Log Out
        li.user
          p #{user.username}
